<ion-header>
  <ion-toolbar color="black">
    <ion-buttons (click)="gohome()" slot="start">
      <ion-icon name="arrow-round-back"></ion-icon> Back
    </ion-buttons>
    <ion-title>Android Appclication Giftshop (Java version)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" >


  <ion-grid>

    <ion-row>
      <ion-col class="center">
        <video width="321" height="516" autoplay loop>
          <source src="./assets/vdo/giftshop-java.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </ion-col>
      <ion-col class="center">
        <code>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore autem, unde rerum, minima minus numquam sapiente recusandae sed cupiditate qui quasi facilis consectetur, libero praesentium at quae obcaecati quo distinctio.
        </code>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>

<app-custom-footer></app-custom-footer>