ion-header {
    text-align: center;
}


ion-col.center{
    display: flex;
    justify-content: center;
}

@media only screen and (min-device-width : 360px) and (max-device-width : 740px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {
    app-custom-footer{
        font-size: 0.6em;
    }
}