<ion-header>
  <ion-toolbar color="black">
    <ion-buttons (click)="gohome()" slot="start">
      <ion-icon name="arrow-round-back"></ion-icon> Back
    </ion-buttons>
    <ion-title>Android Appclication Giftshop (Java version)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
  <ion-row>
    <ion-col size="12" class="info">
      <pre>
      <code>
        อธิบายนิดนึงเกี่ยวกับโปรเจกนี้ 
        อาจารย์ให้โจท์ทำแอพพลิเคชั่นขายของฝากขอกงจังหวัดเพชรบูรณ์ 
        ออกตัวก่อนเลยนี่คือการเขียนแอนดรอยครั้งเเรกในชีวิต
        เนื่องจากของฝากมันมีหลายชนิด ต้องเก็บข้อมูลพวกสินค้าราคาต่าง
        เลยเลือกใช้ Firebase ที่มีบริการครบทุกอย่าง
        ขอบเขตุหลักๆก็ทุกคนที่ login สามารถไปลงของขายในเเอพได้ แก้ไข ลบ สินค้าตัวเองได้
        ส่วนผู้ใช้ทั่วไปก็สามารถใช้ได้สามารถเข้าดูสินค้าของทุกคนที่ลงขายได้
      </code>
    </pre>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <video width="321" height="516" autoplay loop>
        <source src="./assets/vdo/giftshop-java.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </ion-col>
    <ion-col size="6">
      <pre>
      <code>
        This is mycode
      </code>
    </pre>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <video width="321" height="516" autoplay loop>
        <source src="./assets/vdo/giftshop-java.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </ion-col>
    <ion-col size="6">
      <pre>
      <code>
        This is mycode
      </code>
    </pre>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="center" size="12">
      <app-g-button (click)="openGit()"></app-g-button>
    </ion-col>
  </ion-row>

</ion-content>
<app-custom-footer></app-custom-footer>