ion-card:hover{
    background-color: rgb(206, 206, 206);
}
ion-card{
    border-radius: 10px;
    cursor: pointer;
    ion-card-header{
        img{
            height: 250px;
        }
    }
    ion-card-content{
        padding: 0;
    }
    p{
        text-align: center;
        font-size: 1.5em;
        margin: 10px 0 10px 0;
    }
}
@media screen and (max-width: 480px) {
    ion-card{
        border-radius: 10px;
        cursor: pointer;
        ion-card-header{
            img{
                height: 40px;
            }
        }
        p{
            //margin-top: 10px;
            font-size: 0.5em;
        }
    } 
}