code {
    .header {
        text-decoration: underline;
        font-weight: 800;
        color: yellow;
    }

    .red {
        color: red;
    }

    .green {
        color: greenyellow;
    }

    .radio {
        font-size: 1.5em;
    }
}

code.contact {
    font-size: 1.3em;
    a {
        text-decoration-color: white;
        color: white;
    }
}

ion-col.contact{
    display: flex;
    justify-content: center;
}
ion-col.personal{
    display: block;
    //justify-content: left;
}
dd{
    white-space: pre-wrap;
    margin-left: 20px;
    font-family: monospace,monospace;
    .header {
        text-decoration: underline;
        font-weight: 800;
        color: yellow;
    }
    .red {
        color: red;
    }

    .green {
        color: greenyellow;
    }

    .radio {
        font-size: 1.5em;
    }
}
dd.p2{
    margin-left: 40px;
}
dd.p3{
    margin-left: 60px;
}
code.info {
    font-size: 1.2em;
}
ion-col.info {
    display: flex;
    justify-content: left;
}

ion-header {
    color: white;
}

ion-col.avatar {
    display: flex;
    justify-content: center;
}

img.av-img {
    width: 300px !important;
    height: auto !important;
}

span.pointer {
    cursor: pointer;
    text-decoration: underline;
    font-style: italic;
    font-weight: 800;
}

span.selected {
    color: greenyellow;
}

@media screen and (max-width: 480px) {
    img.av-img {
        width: 150px !important;
        height: auto !important;
    }
    
}
