/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//prismjs
@import "~prismjs/themes/prism-okaidia.css";

ion-footer {
    font-size: 1.2em;
    color: white;

    p {
        text-align: center;

        a {
            text-decoration: none;
            text-decoration-color: white;

            ion-icon {
                color: white;
            }
        }
    }

    ion-toolbar {
        background-color: red;
    }
}

ion-header {
    color: white;
    font-weight: 600;

    ion-toolbar {
        ion-buttons {
            cursor: pointer;
        }

        ion-buttons:hover {
            color: whitesmoke;
        }
    }
}

ion-col.btn-center {
    display: flex;
    justify-content: center;
    ion-button {
        align-self: center;
    }
}
ion-col.content-info {
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 480px) {
    app-custom-footer {
        font-size: 0.6em;
    }

    * {
        font-size: 0.95em;

        // img.avimg {
        //     width: 200px !important;
        // }
    }

    ion-col.center {
        ion-button {
            display: none;
        }
    }


}

