<ion-content color="dark">
  <!-- Header -->
  <ion-header collapse="undefined">
    <ion-toolbar color="transparent">
      <ion-title>My Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Content -->

  <ion-grid>
    <ion-row>
      <ion-col class="avatar" size="12">
        <!-- <ion-avatar> -->
        <img class="av-img" src="./assets/img/avatar.jpg" />
        <!-- </ion-avatar> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="contact">
        <code class="contact">
          <ion-icon name="mail"></ion-icon> Email:anantasak.non@pcru.ac.th <br>
          <ion-icon name="call"></ion-icon>Tel:094-251-0015 <br>
          <ion-icon name="logo-github"></ion-icon> Github: <a href="https://github.com/anantasak-pcru">anantasak-pcru</a>, 
          <a href="https://github.com/mengxyz">mengxyz</a>, 
          <a href="https://github.com/Pidsamhai">Pidsamhai</a><br>
          <ion-icon name="logo-facebook"></ion-icon> Facebook: <a href="https://fb.com/meng.anantasak">Anantasak Meng</a>
        </code>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="personal">
        <dd><span class="header">Personal Detail</span></dd>
        <dd *ngFor="let item of personal_detail" class="p2">{{item}}</dd>
        <br>
        <dd><span class="header">Education</span></dd>
        <dd *ngFor="let item of education" class="p2">{{item}}</dd>
        
        
        <br>
        <dd><span class="header">Skill</span></dd>
        <pre>
         <code>
    Programing langauge poor  fair  good   excellent
        - python       <span class="radio"> ๐   <span class="selected">๏</span>   ๐     ๐</span>  
        - kotlin       <span class="radio"> ๐   <span class="selected">๏</span>   ๐     ๐</span>  
        - java         <span class="radio"> ๐   <span class="selected">๏</span>   ๐     ๐</span>  
        - java script  <span class="radio"> <span class="selected">๏</span>   ๐   ๐     ๐</span>  
        - c            <span class="radio"> <span class="selected">๏</span>   ๐   ๐     ๐</span>  
        - php          <span class="radio"> ๐   <span class="selected">๏</span>   ๐     ๐</span>  
        - sql          <span class="radio"> ๐   <span class="selected">๏</span>   ๐     ๐</span>  
        - VB.NET       <span class="radio"> ๐   <span class="selected">๏</span>   ๐     ๐</span>  
        - C#           <span class="radio"> ๐   <span class="selected">๏</span>   ๐     ๐</span>  
         </code>
       </pre>
      <dd><span class="header">Framework & Libraies</span></dd>
      <dd class="p2">Laravel 6,Angular(Basic),Ionic4(Basic),Sematic UI ,Bootstrap</dd><br>

      <dd><span class="header">Tools</span></dd>
      <dd class="p2">Git version control,Vs code, Android Studio</dd><br>
      
      <dd><span class="header">Works</span></dd><br>
      <dd class="p2">Scrcpy Gui( Windows VB.NET ):</dd>
      
      <dd class="p2">GiftShop ( Android App ):</dd>
      <dd class="p3">- <span class="pointer" (click)="gotoGiftshop()">Java    version</span> </dd>
      <dd class="p3">- Kotlin  version</dd><br>

      <dd class="p2">Viu vdo download ( Python cosole ):</dd>
      <dd class="p3">- V1</dd>
      <dd class="p3">- V2</dd><br>
      
      <dd><span class="header red">Strength</span></dd>
      <pre style="margin: 0px;padding: 0px;">
        <code style="margin: 0px;padding: 0px;">
      - เป็นคนเรียนรู้ค่อนข้างไว
      - จริงจังกับงานที่ทำ
      - พยายามเรียนรู้ตลอดเวลา หากมีเวลาว่าง
        </code>
      </pre><br>
      
      <dd><span class="header green">Weak</span></dd>
      <pre style="margin: 0px;padding: 0px;">
        <code style="margin: 0px;padding: 0px;">
      - เป็นคนพูดไม่ค่อยเก่ง
      - หน้าตาเหมือนคนหาติดเศร้าไปหน่อย
      - ทำงานเอกสารไม่ค่อยเก่ง แต่ก็พอทำได้
        </code>
      </pre>
      
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- End Content -->

</ion-content>

<!-- Footer -->
<app-custom-footer></app-custom-footer>